.get {
    text-align:center;
    padding:0 10px;
    padding-bottom: 6px;

    &__container{
        max-width:1200px;
        margin:0 auto;

    }
    &__post {
        &-name {
            padding: 25px 0 14px 0;
            font-family: $font-Montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: $text-color;
        }
        &-text {
            max-width: 582px;
            padding-bottom: 40px;
            color: $get-color;
            font-size: 14px;
            font-family: $font-Lato;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
        }
        
    }
    &__title {
        font-family: $font-Montserrat;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        color: $main-color;
        padding-bottom: 36px;
    }
    &__window {
        text-align: end;
        padding-bottom: 6px;
        overflow: hidden;
        margin-right: -10px;
        &-doctype {
            min-width: 80%;
            height: 381px;
        
        }
    }
}

@media (min-width:481px) {
    .get {
        &__content {
            display: flex;
            flex-direction: column;
            row-gap: 60px;
        }
        &__post {
            display: flex;
            align-items: center;
            gap: 23px;
            &-wrapper {
                text-align: left;
                flex-basis: calc( 100% - 133px );
            }
            &-text {
                padding: 0;
            }
            &-name {
                padding-top: 0;
                padding: 0;
            }
            &-img {
                display: block;
                flex-basis: 111px;
                justify-self: center;
                align-self: center;
                text-align: center;
            }
        }
        &__title {
            font-size: 42px;
            padding-bottom: 50px;
        }
        &__window {
            &-doctype {
                max-width: 100%;
                height: auto;
                max-height: 519px;
            }
        }
    }
}

@media (min-width:992px) {
    .get {
        background-color: $create-color;
        padding-top: 98px;
        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: min-content 1fr;
            
        }
        &__title {
            grid-column: 2;
            padding: 0;
        }
        &__content {
            grid-column: 1;
            grid-row: 1/3;
            row-gap: 35px;
        }
        

    }

}

