.header{
    font-family:'Montserrat', sans-serif;
    box-sizing: border-box;
    position:relative;
    background-image: url(../imgs/header/headerBackground.png);
    background-position-x: center;
    text-align:center;

    &__top-line{
        background-color: #27262A;
        padding:40px 10px;
        display: flex;
        justify-content: space-between;
    }

    &__buy-button, &__download-button{
        border-radius:40px;
        border:none;
        color:white;
        background-color: $main-color;
        padding:10px 30px 10px 30px;
        font-weight: bold;
        text-transform: capitalize;   
        box-sizing:border-box;
    }

    &__menu{
        position:absolute;
        top:124px;
        left:10px;
        width:calc(100% - 20px);
        background:#333333;

        &--hidden{
            display:none;
        }
        
        
        &-item{
            text-align:left;
            padding:25px 40px;
            border:1px solid #3B3B3B;
            list-style-type: none;
            &:focus, &:active{
                & .header__menu-link{
                    color: $main-color;
                }
                border-left:8px solid $main-color;
            }
        } 

        &-button{
            background: transparent;
            border:none;
            outline:none;
        }

        &-icon{
            width:20px;
            height:20px;

            &--hidden{
                display:none;
            }
        }

        &-link{
            font-size:26px;
            text-decoration:none;
            color:white;
            text-transform: capitalize;
        }
    }

    &__title{
        color:white;
        font-size:48px;
        font-weight: bold;
        text-transform: capitalize;
        padding-top:50px;
        padding-bottom:21px;
    }


    &__description{
        font-family:'lato', sans-serif;
        font-size:18px;
        color: #8D81AC;
        line-height:24px;
        padding-bottom:20px;

    }

    &__version{
        font-size:14px;
        color:#848E97;
        text-transform: uppercase;
        padding-bottom:400px;
    }

    &__download-button{
        position:relative;
        top:30px;
    }

    &__trial{
        font-size:14px;
        color:#848E97;
        position:relative;
        top:41px;
    }


}


.logo__title{
    display:none;
    font-size:24px;
    font-weight:bold;
    color:$main-color;
    text-transform: uppercase;
    margin-left:20px;
}

@media (min-width:480px) {
    .header{
        &__logo{
            display:flex;
            align-items:center; 
            text-decoration:none;
        }

        &__top-line{
            padding:20px 10px 60px 10px;
        }

        &__menu{
            display:flex;
            justify-content:space-between;
            position: relative;
            top:-40px;
            background:none;
            max-width:500px;

            margin:0 auto;


            &--hidden{
                visibility:visible;
            }
            &-button{
                display:none;
            }

            &-item{
                padding:0;
                border:0;

                &:focus, &:active{
                    & .header__menu-link{
                        color: $main-color;
                    }
                    border-left:none;
                }

            }

            &-link{
                font-size:16px;
                font-weight:bold;
                color:$main-color;
            }
        }

        &__title{
            font-size:72px;
        }

        &__description{
            font-size:24px;
        }

        &__download-button{
            font-size:21px;
            padding:20px 60px 20px 60px;
            top:45px;
        }

        &__trial{
            top:55px;
        }

    }

    .logo__title{
        display:block;
    }
}

@media (min-width:992px) {
    .header{
        &__top-line{
            padding:30px 90px;
            background:transparent;
        }

        &__logo{
            &:hover{
                & .logo__title{
                    color:white;
                }
            }
        }

        &__menu{
            cursor:pointer;
            width:40%;
            top:-58px;
            left:calc(50% / 2 - 180px );
            &-item{
                &:hover{
                    & .header__menu-link{
                        color: white;
                    }
            }
        }
    }

        &__title{
            font-size:82px;
        }

        &__description{
            font-size:30px;
        }

        &__buy-button, &__download-button{
            &:hover{
                background:white;
                color:#8D81AC;
                border:1px solid $main-color;
            }
        }
    }


}

