.header{
    font-family:'Montserrat', sans-serif;
    box-sizing: border-box;
    position:relative;
    background: url(../imgs/header/headerBackground.png) no-repeat;
    background-position-x: center;
    background-size: cover;
    text-align:center;
    
    &__top-line{
        background-color: #27262A;
        padding:40px 10px;
        display: flex;
        justify-content: space-between;
    }
    &__top-line-button{
        position: relative;
        width: 30px;
    }

    &__top-line-button .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
    }

    &__top-line-button.active .bar:nth-child(2) {
        opacity: 0;
      }
    
    &__top-line-button.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    
    &__top-line-button.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    &__logo{
        position: relative;
        display:flex;
        align-items:center; 
        text-decoration:none;
    }

    &__logo::before{
        content: '';
        width: 43px;
        height: 41px;
        background-image: url("/dist/imgs/header/logoForkio.png");
    }

    &__buy-button, &__download-button{
        border-radius:40px;
        border:none;
        color:white;
        background-color: $main-color;
        padding:10px 30px 10px 30px;
        font-weight: bold;
        text-transform: capitalize;   
        box-sizing:border-box;
        cursor: pointer;
    }

    &__menu{
        position:absolute;
        display:none;
        top:124px;
        left:10px;
        width:calc(100% - 20px);
        background:#333333;

        &--hidden{
            display: block;
        }
        
        
        &-item{
            text-align:left;
            padding:25px 40px;
            border:1px solid #3B3B3B;
            list-style-type: none;
            &:focus, &:active{
                & .header__menu-link{
                    color: $main-color;
                }
                border-left:8px solid $main-color;
            }
        } 

        &-link{
            font-size:26px;
            text-decoration:none;
            color:white;
            text-transform: capitalize;
        }
    }

    &__title{
        color:white;
        font-size:48px;
        font-weight: bold;
        text-transform: capitalize;
        padding-top:50px;
        padding-bottom:21px;
    }


    &__description{
        font-family:'lato', sans-serif;
        font-size:18px;
        color: #8D81AC;
        line-height:24px;
        padding-bottom:20px;

    }

    &__version{
        font-size:14px;
        color:#848E97;
        text-transform: uppercase;
        padding-bottom:400px;
    }

    &__download-button{
        position:relative;
        top:30px;
    }

    &__trial{
        font-size:14px;
        color:#848E97;
        position:relative;
        top:41px;
    }


}


.logo__title{
    display:none;
    font-size:24px;
    font-weight:bold;
    color:$main-color;
    text-transform: uppercase;
    margin-left:20px;
}

@media (min-width:480px) {
    .header{
        &__logo{
            display:flex;
            align-items:center; 
            text-decoration:none;
        }
        &__logo::before{
            content: '';
            width: 43px;
            height: 41px;
            background-image: url("/dist/imgs/header/logoForkio.png");
        }

        &__top-line{
            padding:20px 10px 60px 10px;
        }

        &__top-line-button{
            display: none;
        }
        
        &__menu{
            display:flex;
            justify-content:space-between;
            position: relative;
            top:-40px;
            background:none;
            max-width:500px;

            margin:0 auto;


            &--hidden{
                visibility:visible;
            }
            &-button{
                display:none;
            }

           

            &-item{
                padding:2px 0;
                border:0;

                &:focus, &:active{
                    & .header__menu-link{
                        color: $main-color;
                    }
                    border-left:none;
                }

            }

            &-link{
                font-size:16px;
                font-weight:bold;
                color:$main-color;
            }
        }

        &__title{
            font-size:72px;
        }

        &__description{
            font-size:24px;
        }

        &__download-button{
            font-size:21px;
            padding:20px 60px 20px 60px;
            top:45px;
        }

        &__trial{
            top:55px;
        }

    }

    .logo__title{
        display:block;
    }
}

@media (min-width:992px) {
    .header{
        &__top-line{
            padding:30px 90px;
            background:transparent;
        }

        &__logo{
                position: relative;
            &::before{
                content: "";
                width: 43px;
                height: 41px;
                background-image: url("/dist/imgs/header/logoForkio.png");
            }
            &:hover{
                & .logo__title{
                    color:white;
                }
                &::before{
                    content: "";
                    width: 43px;
                    height: 41px;
                    background-image: url("/dist/imgs/header/logo-hover 1.png");
                }
            }
        }

        &__menu{
            cursor:pointer;
            width:40%;
            top:-58px;
            left:calc(50% / 2 - 180px );
            &-item{
                &:hover{
                    & .header__menu-link{
                        color: white;
                    }
            }
        }
    }

        &__title{
            font-size:82px;
        }

        &__description{
            font-size:30px;
        }

        &__buy-button, &__download-button{
            &:hover{
                background:white;
                color:#8D81AC;
            }
        }
    }


}

