.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 99px;
    padding-bottom: 120px;
    margin: 0 auto;

    &__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    &__title {
        display: flex;
        justify-content: center;
        text-align: center;
        color: $editor-color;
        font-size: 26px;
        font-family: $font-Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-transform: uppercase;
        padding-bottom: 27px;
    }
    &__text {
        max-width: 861px;
        color: $text-color;
        font-family: $font-Lato;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 36px;
       
    }
    &-btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 133px;
        height: 26px;
        padding: 0;
        border: 1px solid $btn-color;
        border-radius: 5px;
        overflow: hidden;
        gap: 5px;
        cursor: pointer;
        
        &__number {
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            margin-left: 10px;
            background-color: $background-color;
            align-self: stretch;
        }
    }
}

@media (min-width:481px) {
    .editor{
        margin-bottom: 159px;
        padding-bottom: 0;
        &__title{
            padding-top: 93px;
            display: flex;
            font-size:42px;
            line-height: 42px;
            padding-bottom: 33px;
        }
        &__text {
            font-size: 21px;
            line-height: 32px;
            padding-bottom: 24px;
        }
        &__btn {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media (min-width:992px) {
    .editor {
        margin-bottom: 70px;
        &__title {
            padding-top: 60px;
            padding-bottom: 35px;
            line-height: 54px;
        }
        &__text {
            padding-bottom: 13px;
            width: 861px;
        }
    }

}
