$font-Lato: "Lato", sans-serif;
$font-Montserrat: "Montserrat", sans-serif;
$main-color: #8D81AC;
$editor-color: #635C73;
$text-color: #323232;
$btn-color: #D5D5D5;
$background-color: #FFFFFF;
$get-color: #848E97;
$base-color: #5F5161;
$heading-color: #695B6A;
$purchase-color: #776B79;
$agency-color: #3F2D41;
$agency-main: #473249;
$create-color: #F4F4F4;
