@import 'mixins';
@import 'vars';

.wrapper {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}


@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 0;
    max-width: 1200px;
  }
}

@import 'content/header';
@import 'content/header-main-section';
@import 'content/comments-section';
@import 'content/revolution-section';


